<p id="notice"><%= notice %></p>

<div style="margin-bottom: 10px; margin-top: 10px">
  <%= link_to 'Editar', edit_contato_path(@contato), :class => 'btn btn-default btn-sm' %>
  <%= link_to 'Voltar', contatos_path, :class => 'btn btn-default btn-sm' %>
</div>

<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h6 class="panel-title">Contato</h6>
  </div>
  <div class="panel-body">
    <%= render 'show' %>
  </div>
</div>