<div class="col-md-11">
  <p id="notice"><%= notice %></p>

  <div style="margin-bottom: 10px; margin-top: 10px">
    <%= link_to 'New Lead', new_lead_path, :class => 'btn btn-default' %>
  </div>

  <div class="panel panel-primary text-center">
    <div class="panel-heading">
      <h4>Leads</h4>
    </div>
    <div class="panel-body">
      <%= render 'index_table' %>
    </div>
    <div class="panel-footer">
    </div>
  </div>  
</div>
