<%# add navigation links to this file %>
<li><%= link_to 'Leads', leads_path %></li>
<li><%= link_to 'Contas', conta_path %></li>
<li><%= link_to 'Contatos', contatos_path %></li>
<% if current_user.admin? %>
 	<li><%= link_to 'Admin Dashboard', rails_admin_path%></li>
<% end %>